
<div class="topText">
  <h3>Welcome, {{username}}</h3>
  <p class="text-center text-lggreen">at the My recipesCreated</p6>
  <br>
  <h5>My created recipes:</h5>
</div>

{{!-- <div class="container">
  <div class="row hidden-md-up">
    <div class="col col-md-4">
      {{#each recipesCreated}}
      <div class="card mb-4">
        <div class="image">
          <img src= "{{this.image}}" />
        </div>
        <div class="card-block">
          <h4 class="card-title">{{this.name}}</h4>
          <h6 class="card-subtitle text-muted">{{this.time}} min, {{this.mealType}}</h6>
          <p class="card-text p-y-1">{{this.description}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div><br>
</div> --}}


  <div class="container mt-3">
      <div class="col col-md-4">
        <div class="card">
          <div class="image">
            <img src= "{{recipesCreated.image}}" />
          </div>
          <div class="card-block">
            <h2 class="card-title">{{recipesCreated.name}}</h2>
            <h5 class="card-subtitle text-muted">{{recipesCreated.time}} min, {{recipesCreated.mealType}}, {{recipesCreated.priceCategory}}</h5>
            <h6>Created by: {{recipesCreated.creator}}</h6>
            <p class="card-text p-y-1">{{recipesCreated.description}}</p>
            <p class="card-text p-y-1">{{recipesCreated.instructions}}</p>
            <h5>Ingredients</h5> 
            {{#each recipesCreated.ingredients}}
              <div>{{amount}} {{unit}} {{this.name}}</div>
            {{/each}} 
              </div>
            </div>            
          </div>
        </div>
      </div>
  </div>


