<h1 class="text-center">Explore your recipe!</h1>

{{!-- Message after creating a recipe --}}
{{#if msgNewRecipe}}
  <div class="m-5 mb-2 alert alert-warning">{{msgNewRecipe}} <br>Go back <a href="/selector">home</a> to review all the recipes? </div>
{{/if}}

{{!-- Message after editing a recipe --}}
{{#if msgEditRecipe}}
  <div class="m-5 mb-2 alert alert-warning">{{msgEditRecipe}} <br> Go back <a href="/selector">home</a> to review all the recipes? </div>
{{/if}}



  <div class="container mt-3">
      <div class="col-md-4">
        <div class="card">
          <div class="image">
            <img src= "{{recipe.image}}" />
          </div>
          <div class="card-block">
            <h2 class="card-title">{{recipe.name}}</h2>
            <h5 class="card-subtitle text-muted">{{recipe.time}} min, {{recipe.mealType}}, {{recipe.priceCategory}}</h5>
            <h6>Created by: {{recipe.creator}}</h6>
            <p class="card-text p-y-1">{{recipe.description}}</p>
            <p class="card-text p-y-1">{{recipe.instructions}}</p>
            <h5>Ingredients</h5>
 
            {{#each recipe.ingredients}}
              <div>{{amount}} {{unit}} {{this.name}}</div>
            {{/each}} 

            <div class="row mt-3">
              <div class="col">
                <a href="/edit/{{recipe.id}}" ><button type="submit" class="mt-2 w-100 btn btn-lg btn-primary bg-lgtblue">Edit</button></a>
              </div>
              <div class="col">
                      <td><form action="/recipe/delete/{{recipe.id}}" method="POST">
                    <button type="submit" class="mt-2 w-100 btn btn-lg btn-primary bg-lgtred">Delete</button>
                  </form></td>
              </div>
            </div>            
          </div>
        </div>
      </div>
  </div>



{{!-- Conditionally render the msg --}}
{{#if msg}}
 <div>{{msg}}</div>
{{/if}}