{{!-- <h1>This is the selector page</h1>
<div id="main">
  <div id="search">
  
    <div class="custom-control custom-switch">
      <input name="veganValue" id="veganFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Vegan</label>
      <input name="timeValue" id="timeFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Time</label>
      <input name="priceValue" id="priceFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Price</label>
      <a href="/search?{{query}}">Filter</a>
    </div>
 
    </div>
  </div>
</div> --}}




  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          {{#each recipes}}
          <div class="card">
            <div class="image">
              <img src= "{{this.image}}" />
            </div>
            <div class="card-block">
              <h4 class="card-title">{{this.name}}</h4>
              <h6 class="card-subtitle text-muted">{{this.time}} min, {{this.mealType}}</h6>
              <p class="card-text p-y-1">{{this.description}}</p>
              <a href="/recipe" class="card-link">Open</a>
              <a href="#" class="card-link">Second link</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
              <a href="#" class="card-link">link</a>
              <a href="#" class="card-link">Second link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{{#each recipes}}
  <h4>{{this.title}}</h4>
{{/each}}

<script src="js/filterRecipe.js"></script>
