<h1 class="text-center">This is the selector page</h1>
{{!-- <div id="main">
  <div id="search">
    <h1>Length is {{length}}</h1>
    <div class="custom-control custom-switch">
      <input name="veganValue" id="veganFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Vegan</label>
      <input name="timeValue" id="timeFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Time</label>
      <input name="priceValue" id="priceFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Price</label>
      <a href="/search?isVegan={{queryObj.veganOn}}&maxTime={{queryObj.maxTime}}&maxPrice={{queryObj.maxPrice}}">Filter</a>
    </div>
 
    </div>
  </div>
</div> --}}
{{!-- 
<div class="dropdown">
  <button class="collapsed" type="button" data-toggle="collapse" data-target="#dropDownText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" aria-expanded="false">
    Vegan/Vegatarian
  </button>
</div>
      <div class="collapse " id="dropDownText">
         <ul class=" mr-auto">
            <li class="nav-item">
            <a class="nav-link" name="veganValue" id="veganFilter" onchange="handleCheckbox()" href="/search?isVegan=veganOn">Vegan</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/search">Vegetarian</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/search">All</a>
            </li>
         </ul>
      </div>
<div class="dropdown">
  <button class="collapsed" type="button" data-toggle="collapse" data-target="#dropDownTime" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" aria-expanded="false">
    Time
  </button>
</div>
      <div class="collapse " id="dropDownTime">
         <ul class=" mr-auto">
            <li class="nav-item">
            <a class="nav-link" name="veganValue" id="veganFilter" onchange="handleCheckbox()" href="/search?maxTime=shortTime">Fast</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/search">All</a>
            </li>
         </ul>
      </div>
<div class="dropdown">
  <button class="collapsed" type="button" data-toggle="collapse" data-target="#dropDownPrice" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" aria-expanded="false">
    Price
  </button>
</div>
      <div class="collapse " id="dropDownPrice">
         <ul class=" mr-auto">
            <li class="nav-item">
            <a class="nav-link" name="veganValue" id="veganFilter" onchange="handleCheckbox()" href="/search?isVegan=veganOn">Cheap</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/search">All</a>
            </li>
         </ul>
      </div> --}}

<div class="allFilterLinks">
  <a class="filterLink veganLink" href="/search?isVegan=veganOn">Vegan</a>
  <a class="filterLink veganLink" href="/search?isVegan=veganOn&maxTime=shortTime">FastVegan</a>
  <a class="filterLink veganLink" href="/search?isVegan=veganOn&maxPrice=cheap">CheapVegan</a>
  <a class="filterLink allMeals" href="/search?maxTime=shortTime">Fast</a>
  <a class="filterLink allMeals" href="/search?maxPrice=cheap">Cheap</a>
</div>
{{#if msgRecipeDel}}
  <div class="m-5 mb-2 alert alert-warning">{{msgRecipeDel}}</div>
{{/if}}

<div class="container">
  <div class="row hidden-md-up">
    <div class="col-md-4">
      {{#each recipes}}
      <div class="card mb-4">
        <div class="image">
          <img src= "{{this.image}}" />
        </div>
        <div class="card-block">
          <h4 class="card-title">{{this.name}}</h4>
          <h6 class="card-subtitle text-muted">{{this.time}} min, {{this.mealType}}</h6>
          <p class="card-text p-y-1">{{this.description}}</p>
          <div class="text-center">
            <a href="/recipe/{{this.id}}" role="botton" class="w-40 mb-2 mt-3 center btn btn-lg btn-primary bg-lgtblue">Open</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div><br>
</div>

{{!-- {{#each recipes}}
  <h4>{{this.title}}</h4>
{{/each}} --}}

<script src="js/filterRecipe.js"></script>
