<h1 class="text-center">This is the selector page</h1>
{{!-- <div id="main">
  <div id="search">
    <h1>Length is {{length}}</h1>
    <div class="custom-control custom-switch">
      <input name="veganValue" id="veganFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Vegan</label>
      <input name="timeValue" id="timeFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Time</label>
      <input name="priceValue" id="priceFilter" type="checkbox" onchange="handleCheckbox()" class="custom-control-input">
      <label class="custom-control-label" for="customSwitches">Price</label>
      <a href="/search?isVegan={{queryObj.veganOn}}&maxTime={{queryObj.maxTime}}&maxPrice={{queryObj.maxPrice}}">Filter</a>
    </div>
 
    </div>
  </div>
</div> --}}

<div class="container">
  <div class="row hidden-md-up">
    <div class="col-md-4">
      {{#each recipes}}
      <div class="card mb-4">
        <div class="image">
          <img src= "{{this.image}}" />
        </div>
        <div class="card-block">
          <h4 class="card-title">{{this.name}}</h4>
          <h6 class="card-subtitle text-muted">{{this.time}} min, {{this.mealType}}</h6>
          <p class="card-text p-y-1">{{this.description}}</p>
          <div class="text-center">
            <a href="/recipe/{{this.id}}" role="botton" class="w-40 mb-2 mt-3 center btn btn-lg btn-primary bg-lgtblue">Open</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div><br>
</div>

{{!-- {{#each recipes}}
  <h4>{{this.title}}</h4>
{{/each}} --}}

<script src="js/filterRecipe.js"></script>
